unityproject/project_unity/Temp
unityproject/project_unity/Library
unityproject/project_unity/.idea
unityproject/project_unity/XCode_Unity
unityproject/project_unity/obj
unityproject/project_unity/AssetBundles/
unityproject/project_unity.sln
unityproject/project_unity/Assets/ptressystem_temp.prefab
unityproject/project_unity/Assets/ptressystem_temp.prefab.meta
unityproject/project_unity/Assets/StreamingAssets/AssetBundles/
unityproject/project_unity/Assets/StreamingAssets/AssetBundles.meta
unityproject/project_unity/PersistentDataPath/
unityproject/project_unity/UnityPackageManager/
unityproject/project_unity/Build_Android/
*.apk
unityproject/project_unity/Assets/Plugins/__MACOSX
unityproject/project_unity/Assets/Plugins/__MACOSX.meta
unityproject/project_unity/Assets/Plugins/Editor/JetBrains
unityproject/project_unity/Assets/Plugins/Editor
*.csproj

